body {
    background-color: #4040b6;
    background-image: url("../images/Justiceleaguebackground.JPG");
    background-repeat: repeat;
    background-size: cover  ;
    background-position: 20px 50px;
}

.version-container a {
    text-decoration: none;
}

.hero-font {
    font-family: 'HallofHeroes', system-ui;
    font-style: normal;
    letter-spacing: 4px;
    text-shadow: 1px 1px #b1a9a9;
    color: #d2d3db;
}